
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


/* BARRA NAVEGACIÓN */
.navbar-brand svg {
       height: 30px;  
       width: 100%;  
}

.marca-barra {
    font-size: 16pt;
    font-weight: 400;
}


.nav-link{
    color: #ffff;
    font-weight: 300;
}

nav{
    color: #ffff;
}


/* CARRUSEL */



.carousel-item {
    height: 735px !important;
}


/* QUIENES SOMOS */

#quienes-somos{
    height: 400px;
    margin-top: 30px !important;
}

h2{
    color: #ffff;
    font-weight: 400;
    font-size: 20pt;
}

.parrafo{
    font-size: 10pt;
    font-weight: 300;
    color: #ffff;
    text-align: left;
}
